/*
blocks
*/
.block {
  width: 320px;
  margin: 10px 0;
  padding: 15px;
  background-color: var(--simplecolor);
  border-radius: 10px;
}
.fwc {
  left: 50%;
  transform: translateX(-50%);
}
.fw {
  width: 100vw;
  max-width: 450px;
}
.wa {
  width: auto;
}
.w4 {
  width: 80px;
}
.w3 {
  max-width: 130px;
}
.w3:first-child {
  margin-right: 5px;
}
.w3:last-child {
  margin-left: 5px;
}
.container {
  display: flex;
}
.flex {
  display: flex;
}
.data {
  flex-direction: column;
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flsb {
  display: flex;
  justify-content: space-between;
}
.fl-cn-cl {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.jc-sb {
  justify-content: space-between;
}
.full-bg {
  min-height: calc(100 * var(--vh));
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  position: fixed;
  justify-content: center;
  background: var(--blurcolor);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
}
.right {
  text-align: right;
}
.main-img {
  width: 100px;
}
.main-page {
  margin-bottom: 80px;
}
